@import './variable.scss';

.trips-page {
  min-height: 100vh;
  // background-color: #f3f3f3;

  .trips-container {
    padding: 0 8rem;
    @media only screen and (max-width: 768px) {
      padding: 0 2.5rem;
    }

    h1 {
      margin-bottom: 2rem;
      color: $color-black;
      font-family: 'Asap-SemiBold';
      // text-align: center;
      font-size: 2rem;
    }

    .cards-container {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 3rem;

      .ant-card {
        a {
          color: $color-primary;
          &:hover {
            color: $color-primary-light;
          }
        }

        p {
          color: $color-black;
        }

        .ant-card-cover {
          border-radius: 0px 0px 0px 0px !important;
        }

        transition: transform 0.3s;
        &:hover {
          transform: scale(1.03);
        }
      }
    }
  }
}

.create-trip-card {
  background-color: $color-secondary-light;
  display: flex;
  align-items: center;
  justify-content: center;
}