$font-family-base: 'Asap', sans-serif;
$color-primary: #FF9B26;
$color-primary-light: #FFC16B;
$color-secondary: #56BEEC;
$white-color: #ffff;
$color-ivory: #FFFAF2;
$color-dark-ivory: #FFF4E3;
$color-black: #424242;


