@import './pages/styles/variable.scss';

//Asap font
@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: 'Asap-Light';
  src: local('Asap-Light'),  url('./fonts/Asap-Light.ttf');
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Asap-Regular';
  src: local('Asap-Regular'),  url('./fonts/Asap-Regular.ttf');
}
@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: 'Asap-Medium';
  src: local('Asap-Medium'),  url('./fonts/Asap-Medium.ttf');
}
@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: 'Asap-SemiBold';
  src: local('Asap-SemiBold'),  url('./fonts/Asap-SemiBold.ttf');
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'Asap-Bold';
  src: local('Asap-Bold'),  url('./fonts/Asap-Bold.ttf');
}
//Montserrat font
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Montserrat-Regular';
  src: local('Montserrat-Regular'),  url('./fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: 'Montserrat-SemiBold';
  src: local('Montserrat-SemiBold'),  url('./fonts/Montserrat-SemiBold.ttf');
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'Montserrat-Bold';
  src: local('Montserrat-Bold'),  url('./fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: 'Montserrat-ExtraBold';
  src: local('Montserrat-ExtraBold'),  url('./fonts/Montserrat-ExtraBold.ttf');
}
@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: 'Montserrat-Black';
  src: local('Montserrat-Black'),  url('./fonts/Montserrat-Black.ttf');
}

:root {
  --color-primary: #FF9B26;
  --color-primary-light: #FFC16B;
  --color-secondary: #56BEEC;
  --color-white: #ffff;
  --color-ivory: #FFFAF2;
  --color-dark-ivory: #FFF4E3;
  --color-black: #424242;
  --color-dark-black: #292929
}

body {
  margin: 0;
  font-family: 'Asap', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-ivory;
}

// div {
//   background-color: $color-ivory;
// }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5 {
  color: $color-primary;
  font-family: Asap-Regular;
}

h1 {
  line-height: 46px;
  font-weight: 600;
  font-size: 38px;
}

h2 {
  line-height: 46px;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

h3 {
  line-height: 46px;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  &.stroke {
    color: $color-white;
    -webkit-text-stroke: 1px $color-primary;
  }
  &.upper {
    text-transform: uppercase;
  }
  &.white {
    color: $color-white;
  }
}

h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  &.upper {
    text-transform: uppercase;
  }
}

a {
  font-family: 'Asap', sans-serif;
  text-decoration: underline;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: $color-primary;
  line-height: 24px;
}

/* Button */
.ant-btn-primary {
  background-color: $color-primary !important;
  font-family: 'Asap-Bold', sans-serif;
  border-color: $color-primary !important;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus,
.ant-btn-primary:active,
.ant-btn-primary.active {
  background-color: $color-primary-light !important;
  border-color: $color-primary-light !important;
}

/* Navbar */
.navbar {
  padding-bottom: 1px;
  // border-bottom: solid 1px #e8e8e8;
  background-color: white;
  // box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.12),
  //   0 6px 16px -11px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  // margin-bottom: 20px;
  z-index: 999;
}

.nav-header {
  background-color: white;
  border-bottom: 0;
  padding: 0 4px 0 24px;
}

.logo {
  width: 200px;
  float: left;
  margin-top: auto;
}

.logo a {
  display: inline-block;
  font-size: 20px;
  text-transform: capitalize;
}

.navbar-menu {
  width: calc(100% - 200px);
  float: left;
}
.navbar-menu .ant-layout-header {
  padding: 0 20px;
}

.navbar-menu .ant-menu-horizontal {
  border-bottom: 0;
}

.navbar-menu .ant-menu-item {
  padding-bottom: 0px;
}

.navbar-menu .leftMenu {
  float: left;
}

.navbar-menu .rightMenu {
  float: right;
}

.menuButton {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 14px;
  display: none;
  background: none;
  margin-right: 10px;
}

.ant-drawer-body {
  padding: 0;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}

.username {
  display: none;
  margin-left: 8px;
}

@media (max-width: 767px) {
  .menuButton {
    display: block;
    margin-right: 10px;
  }

  .leftMenu,
  .rightMenu {
    display: none;
  }

  .logo a {
    margin-left: -10px;
  }

  .ant-drawer-title > .brand-font {
    margin-bottom: 0;
  }

  .username {
    display: inline-block;
  }
}
/* Navbar End */

/* Question Modal */
.question-modal-header {
  padding: 0px 20px 10px 20px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $color-secondary;
}

.question-modal-content {
  display: flex;
  flex-direction: column;
  // align-items: center;
  text-align: center;
  background-color: $color-white;
  padding: 5px 24px 24px 24px;
  border-radius: 8px;
  margin-bottom: 24px;
  @media only screen and (max-width: 767px) {
    min-height: 350px;
  }
  
  @media only screen and (min-width: 768px) {
    min-height: 270px;
  }
}

.question-modal-answers {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
}

.question-modal-answer-btn {
  margin-right: 10px;
  margin-bottom: 16px;
}

.question-modal {
.ant-modal-content {
  background-color: $color-secondary !important;
}
}

.question-modal-slider {
  margin-top: 10px;
  color: $color-primary;
} 

.question-modal-slider > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
/* Question Modal End */

/* Homepage */
.top-home-page {
  background-image: url('https://imgproxy.natucate.com/Z5ipAjRJjEgBTob1Rwunj7CvXd-lFlluD7UJ3s2LAVA/rs:fill/g:ce/w:3840/h:2160/aHR0cHM6Ly93d3cubmF0dWNhdGUuY29tL21lZGlhL3BhZ2VzL3JlaXNlemllbGUvYzQ3YmM2MzAtOWY5Yi00NjYwLTkyMzctYzc0ODg1ZjkwNTI3L2RjM2MzNDNjNzUtMTU1OTY1OTM2NC90aGFpbGFuZC1sYWVuZGVyaW5mb3JtYXRpb25lbi1pbnNlbC10aGFpLW1lZXItZ3J1ZW4tbmF0dWNhdGUuanBn');
  background-color: var(--color-light);
  padding: 50px;
  text-align: center;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .top-home-page {
    padding: 20px;
    font-size: 16px;
  }
}

.search-box {
  display: flex;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding: 50px;
  background-color: var(--color-white);
  border-radius: 8px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 24px;
  margin-top: 50px;

  .ant-input {
    flex-basis: calc(100% - 16px);
    margin-right: 16px;
    margin-bottom: 6px;
    // margin-bottom: 16px;
  }

  .ant-picker {
    flex-basis: calc(65% - 16px);
    margin-bottom: 16px;
  }

  .ant-input-number {
    flex-basis: calc(35% - 16px);
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .ant-btn {
    flex-basis: calc(50% - 16px);
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .search-box {
    padding: 20px;
    width: 80%;
  }
}

// .top-home-page {
//   position: relative;

//   .search-box {
//     background-color: $color-white;
//     align-items: center;
//     padding: 40px 40px 40px 40px;
//     border-radius: 8px;
//     position: absolute;
//     top: 45vh;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     z-index: 1;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     align-items: center;
//     margin-bottom: 24px;

//     .ant-input {
//       flex-basis: calc(100% - 16px);
//       margin-right: 16px;
//       margin-bottom: 6px;
//       // margin-bottom: 16px;
//     }

//     .ant-picker {
//       flex-basis: calc(65% - 16px);
//       margin-bottom: 16px;
//     }

//     .ant-input-number {
//       flex-basis: calc(35% - 16px);
//       margin-right: 16px;
//       margin-bottom: 16px;
//     }

//     .ant-btn {
//       flex-basis: calc(50% - 16px);
//       margin-bottom: 16px;
//     }
//   }
// }

.home-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;

  .search-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    .ant-input {
      flex-basis: calc(50% - 16px);
      margin-right: 16px;
      margin-bottom: 16px;
    }

    .ant-picker {
      flex-basis: calc(50% - 16px);
      margin-bottom: 16px;
    }

    .ant-input-number {
      flex-basis: calc(50% - 16px);
      margin-right: 16px;
      margin-bottom: 16px;
    }

    .ant-btn {
      flex-basis: calc(50% - 16px);
      margin-bottom: 16px;
    }
  }

  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    background-color: $color-dark-ivory;
    border-radius: 8px;
    text-align: center;

    @media only screen and (max-width: 768px) {
      min-height: 290px;
  
    }

    .feature-icon {
      font-size: 32px;
      color: #1890ff;
      margin-bottom: 0px;
    }

    h3 {
      margin-top: 10px;
      font-size: 24px;
      margin-bottom: 8px;
    }

    p {
      font-size: 16px;
      color: #999;
    }
  }

  .slider-container {
    h2 {
      font-size: 24px;
      margin-bottom: 16px;
    }

    .ant-carousel {
      .slick-slide {
        text-align: center;
        // height: 250px;
        overflow: hidden;

        h3 {
          font-size: 20px;
          margin-top: 16px;
          margin-bottom: 8px;
        }

        .ant-btn {
          margin-top: 8px;
        }
      }
    }
  }
}
/* Homepage End */

